{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" fetchpriority="high" />
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" fetchpriority="high" />
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">

      <!-- Basic Info -->
      {% if author.location %}
        <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right"></i>{{ author.location }}</li>
      {% endif %}

      {% if author.employer %}
        <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right"></i>{{ author.employer }}</li>
      {% endif %}

      {% if author.office %}
        <li><i class="fas fa-fw fa-building icon-pad-right"></i>{{ author.office }}</li>
      {% endif %}

      {% if author.phone %}
        <li><i class="fas fa-fw fa-phone icon-pad-right"></i>{{ author.phone }}</li>
      {% endif %}

      {% if author.fax %}
        <li><i class="fas fa-fw fa-fax icon-pad-right"></i>{{ author.fax }}</li>
      {% endif %}

      <!-- Main Links -->
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link icon-pad-right"></i>Website</a></li>
      {% endif %}

      {% if author.university_url %}
        <li><a href="{{ author.university_url }}"><i class="fas fa-fw fa-university icon-pad-right"></i>University</a></li>
      {% endif %}

      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right"></i>Email</a></li>
      {% endif %}

      {% if author.email2 %}
        <li><a href="mailto:{{ author.email2 }}"><i class="fas fa-fw fa-envelope icon-pad-right"></i>Email 2</a></li>
      {% endif %}

      {% if author.email3 %}
        <li><a href="mailto:{{ author.email3 }}"><i class="fas fa-fw fa-envelope icon-pad-right"></i>Email 3</a></li>
      {% endif %}

      <!-- Academic Links -->
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid ai-fw icon-pad-right"></i>ORCID</a></li>
      {% endif %}

      {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}"><i class="fab fa-fw fa-researchgate icon-pad-right"></i>ResearchGate</a></li>
      {% endif %}

      {% if author.uri2 %}
        <li><a href="{{ author.uri2 }}"><i class="fas fa-fw fa-book icon-pad-right"></i>Web of Science</a></li>
      {% endif %}

      {% if author.uri3 %}
        <li><a href="{{ author.uri3 }}"><i class="fas fa-fw fa-pen icon-pad-right"></i>Publons</a></li>
      {% endif %}

      {% if author.uri4 %}
        <li><a href="{{ author.uri4 }}"><i class="fas fa-fw fa-database icon-pad-right"></i>Scopus</a></li>
      {% endif %}

    </ul>
  </div>
</div>